@using Panoptic.UI.Web.Areas.Services.Models
@model Panoptic.UI.Web.Areas.Services.Models.ServicesModel

@{
    ViewBag.Title = Model.Name;
}

<div class="jumbotron">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <p class="lead">@Html.DisplayFor(model => model.Description)</p>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
</div>
