<data-area-header name="areaName" description="areaDescription"></data-area-header>
<div class="row">
    <div class="col-md-6">
        <h2>Build status</h2>
        <p>
            The status of the different Builds.
        </p>
        
        <div class="row">
            <div class="col-md-4" ng-repeat="column in builds">
                <div ng-repeat="item in column">
                    <div ng-if="item != null">
                        <data-build-state build="item"></data-build-state>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Outstanding work items</h2>

        <div>
            <a class="btn btn-lg btn-primary" href="{{ workItemSet.QueryUrl }}" ng-repeat="workItemSet in workitems">
                <span>{{ workItemSet.Name }}</span>
                <h1>{{ workItemSet.Total }}</h1>
            </a>
        </div>

        <h2>Burn down</h2>
        <p>
            The burn down for the current sprint
        </p>

        <epoch-area chart-class="category20c" chart-data="burnDown" chart-axes="burnDownGraphAxes" chart-height="200" options="burnDownGraphOptions">
        </epoch-area>
    </div>
</div>
