<div class="jumbotron">
    <h1>Panoptic</h1>
    <p class="lead">Panoptic provides views and access to the many worlds of the DevOps team.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Services</h2>
        <p>Find all the services you need. As provided by the Ops team.</p>
        <p>@Html.ActionLink("Learn more \u00bb", "Index", "Home", new { area = "services" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Ops</h2>
        <p>The status of the different services and tools provided by the Ops team.</p>
        <p>@Html.ActionLink("Learn more \u00bb", "Index", "Home", new { area = "ops" }, new { @class= "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Processes</h2>
        <p>Track the progress of the different development work flows.</p>
        <p>@Html.ActionLink("Learn more \u00bb", "Index", "Home", new { area = "metamorphic" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
