@using Panoptic.UI.Web
@using Panoptic.UI.Web.Common.Areas

<div class="jumbotron">
    <h1>Panoptic</h1>
    <p class="lead">Panoptic provides views and access to the many worlds of the DevOps team.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    @{
        var list = PanopticApplication.GetDescriptionsForCategory(AreaCategories.Description).ToArray();
        for (int i = 0; i < 3; i++)
        {
            <div class="col-md-4">
                @for (int j = i; j < list.Length; j = j + 3)
                {
                    var description = list[j];

                    <h2>@description.Name</h2>
                    <p>@description.Description</p>
                    <p>@Html.ActionLink("Learn more \u00bb", description.Action, description.Controller, new { area = description.Id }, new { @class = "btn btn-default" })</p>
                    <br />
                    <br />
                }
            </div>
        }
    }
</div>
